@font-face {
  font-family: "BeaufortforLOL";
  src: url(/fonts/beaufortforlol-regular.otf);
}
@font-face {
  font-family: "BeaufortforLOL";
  src: url(/fonts/beaufortforlol-bold.otf);
  font-weight: bold;
}

html {
  font-size: 62.5%;
}


body {
  margin: 0;
  padding: 0;
  background-color: black;
  /* text-align: center; */
}


#root {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1055px;
  max-height: 638px;
  box-sizing: border-box;
  height: 60.47vw;
  position: relative;
  overflow: hidden;
}